@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Gilroy, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'gilroyBold';
  src: local('Gilroy-Bold'), url(../src/assets/fonts/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'gilroyMedium';
  src: local('Gilroy-Medium'), url(../src/assets/fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'gilroyLight';
  src: local('Gilroy-Light'), url(../src/assets/fonts/Gilroy-Light.ttf) format('truetype');
}

body {
  font-family: 'gilroyLight';
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
